@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --font-pixel: "Geist Pixel", sans-serif;
}

.animate-on-scroll {
  opacity: 0;
  filter: blur(8px);
  transform: translateY(10px);
  transition: all 0.5s ease;
}

.animate-on-scroll.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}